[Unit]
Description = Automatic Theme Switcher

[Install]
WantedBy = default.target

[Service]
Type = simple
ExecStart = /home/neeraj/.local/bin/theme_switcher
Restart = on-failure
